@{
    ViewBag.Title = "О проекте";
}
<div style=" background-color: #faf5d3">
    <div class="row">
        <div class="col" id="img">
        </div>
    </div>

    <div style="padding:22px" class="row">
        <br /><br /><br />
                    <div class="container" id="cnr">
                        <h4 style="margin-top:50px">
                            Текущее состоянии экономики нашей страны, усложнившееся из-за военной агрессии России,
                            побудило нас принять решение по обеспечению роста экономики и повышению уровня жизни граждан Украины.
                        </h4>

                        <h4 style="margin-top:20px">
                            Компания «BLAGOдать» основана для достижения социально-экономических целей и улучшения качества жизни населения Украины и ближнего зарубежья.
                        </h4>

                        <h4 style="margin-top:20px">
                            Сейчас каждый второй человек не доволен уровнем своих доходов и его мучают вопросы:
                            <div>
                                <div style="display: inline-block;width:50px">
                                    <img src="~/Images/Logo/ulli.svg" />
                                </div>
                                <div style="display:inline-block">Как быстро заработать деньги?</div>
                                <br />
                                <div style="display: inline-block;width:50px">
                                    <img src="~/Images/Logo/ulli.svg" />
                                </div>
                                <div style="display:inline-block">Где найти подработку в свободное время?</div>
                                <br />
                                <div style="display: inline-block; width: 50px ">
                                    <img src="~/Images/Logo/ulli.svg" />
                                </div>
                                <div style="display:inline-block">Какие занятия приведут к большим деньгам?</div>
                                <br />
                                <div style="display: inline-block; width: 50px ">
                                    <img src="~/Images/Logo/ulli.svg" />
                                </div>
                                <div style="display:inline-block">Как заработать деньги в сети Интернет сидя дома?</div>
                            </div>
                        </h4>

                        <h4 style="margin-top:20px">
                            Вам наверняка интересна возможность полноценно зарабатывать в сети Интернет и получать от своей работы ощутимую финансовую прибыль,
                            которая может порой даже превышать вашу обычную зарплату.
                        </h4>

                        <h4 style="margin-top:20px;font-weight:bold">
                            Важно! Мы не в коем случае не предлагаем вам вкладываться в рынки Forex, «пирамиды», интернет-казино или букмекерские конторы.
                        </h4>

                        <h4 style="margin-top:20px">
                            Всем желающим зарабатывать и стабильно получать зарплату, мы готовы предложить полноценную возможность стать не просто нашими клиентами, 
                            а самыми настоящими агентами по продажам, которые с каждого проданного нашего продукта по их рекомендации, будут иметь хороший процент!
                        </h4>

                        <h4 style="margin-top:20px">
                            Для того, чтоб что-то продать в интернете, не нужно быть большим гением или же иметь высшие образование, 
                            достаточно грамотно предложить потенциальному клиенту товар с такими условиями, от которых он просто не сможет отказаться.
                            Наш продукт интересен, имеет не высокую стоимость, а программа мотивации агентов, очень сильно мотивирует к сотрудничеству.
                        </h4>

                        <h4 style="margin-top:20px;font-weight:bold">
                            Важно! Воспринимайте наш Продукт не как товар, а как необходимое действие, как Символ ведущий Вас к счастливой жизни, полной финансового благополучия.
                        </h4>

                        <h4 style="margin-top:20px">
                            Регистрация на сайте Компании абсолютно бесплатна, открыта для всех желающих по программе реферальных ссылок агентов Компании.
                        </h4>

                        <h4 style="margin-top:20px">
                            Любой желающий достигший совершеннолетнего возраста, прошедший регистрацию на сайте Компании, 
                            может принять участие в распределении прибыли Компании, согласно плану мотивации.
                        </h4>

                        <h4 style="margin-top:20px">
                            После регистрации каждому агенту открывается доступ в личный кабинет, ему будут доступны:
                            <div>
                                <div style="display: inline-block;width:50px">
                                    <img src="../../Images/Logo/ulliStar.svg" />
                                </div>
                                <div style="display:inline-block">Продукты компании;</div>
                                <br />
                                <div style="display: inline-block;width:50px">
                                    <img src="~/Images/Logo/ulliStar.svg" />
                                </div>
                                <div style="display:inline-block">Отчёты о своих начислениях;</div>
                                <br />
                                <div style="display: inline-block;width:50px">
                                    <img src="~/Images/Logo/ulliStar.svg" />
                                </div>
                                <div style="display:inline-block">Отчёты о своей структуре агентов;</div>
                                <br />
                                <div style="display: inline-block;width:50px">
                                    <img src="~/Images/Logo/ulliStar.svg" />
                                </div>
                                <div style="display:inline-block">Оплата продуктов компании;</div>
                                <br />
                                <div style="display: inline-block;width:50px">
                                    <img src="~/Images/Logo/ulliStar.svg" />
                                </div>
                                <div style="display:inline-block">Вывод средств;</div>
                                <br />
                                <div style="display: inline-block;width:50px">
                                    <img src="~/Images/Logo/ulliStar.svg" />
                                </div>
                                <div style="display:inline-block">Реферальная ссылка для регистрации агентов;</div>
                                <br />
                                <div style="display: inline-block;width:50px">
                                    <img src="~/Images/Logo/ulliStar.svg" />
                                </div>
                                <div style="display:inline-block">Уведомления.</div>
                            </div>
                        </h4>
                    </div>
        </div>
    </div>

<style>
    img{
        height:51%;
        width:100%;
    }
    h4 {
        font-family: Arial;
    }
    li:before {
        background-size: 100px;
        list-style:none;
    }
    #cnr {
        font-family: Arial;
        width: 55%;
        color: #82822f;
        font-size: 24pt;
    }

    #img {
        margin-top: -10px;
        height: 400px;
        min-height: 100%;
        background-image: url('../../Images/ПРОДУКТ.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
</style>





<style>
    #img {
        margin-top: -10px;
        height: 400px;
        min-height: 100%;
        background-image: url('../../Images/О Компании.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
</style>