@{
    ViewBag.Title = "Мотивация";
}

<div class="row">
    <div class="col-sm" id="img">
    </div>
</div>

<div class="container body-content">
    <br /><br /><br /><br />
    <div class="row container" style="font-size:34px; width:90%;margin:auto;
      font-family: Arial;text-align:left; font-weight: bold; color: #82822f;overflow:auto">
        <p style="text-align: center;">
            Условия для выплаты финансового вознаграждения агентам за продажи продукта Компании.
        </p>
    </div>
</div>

<br />
<div class="row container" id="cnr" style="width:80%;margin:auto">
    <h4 style="">
        Любой потребитель купивший Продукт компании и изъявивший желание на правах фрилансера быть агентом по продажам Компании,
        обязан совершать все необходимые действия по поиску потенциальных потребителей с последующей продажей продукта по своей
        реферальной ссылке.
    </h4>

    <h4 style="margin-top:10px">
        Под понятием «Продажа продукта» подразумевается оплата и скачивание программного файла с файлообменника
        Компании по реферальной ссылке агента.
    </h4>

    <h4 style="margin-top: 10px">
        Реферальная структура имеет линейный характер и не имеет количественных ограничений по регистрации субагентов по длине,
        но имеет ограничения по глубине структуры – вся структура состоит из пяти уровней.
    </h4>

    <h4 style="margin-top: 10px;font-weight:bold">
        Важно! Каждый Агент должен продать не менее шести продуктов или неограниченное число продаж в первой линии, детально:
    </h4>
</div>

<div class="row" id="cnr" style="width: 70%; margin: auto; background-color: #e7e7c0">
    <div style="padding:12px">
        <h4 style="color: #82822f;text-decoration:underline">Первая линия:</h4>
    </div>
    <div>
        <div style="display: inline-block;width:50px">
            <img src="~/Images/Logo/ulli.svg" />
        </div>
        <div style="display:inline-block"><h4> по своей реферальной ссылке продать Продукт Компании не менее шести потребителям;</h4></div>
        <br />
        <div style="display: inline-block;width:50px">
            <img src="~/Images/Logo/ulli.svg" />
        </div>
        <div style="display:inline-block"><h4>за первую продажу, Агенту начисляется вознаграждение в размере 100% от стоимости Продукта;</h4> </div>
        <br />
        <div style="display: inline-block; width: 50px ">
            <img src="~/Images/Logo/ulli.svg" />
        </div>
        <div style="display:inline-block"><h4>за все последующие свои продажи, Агенту начисляется 20% от стоимости Продукта;</h4> </div>
    </div>

    <br />
    <div style="padding:12px">
        <h4 style="color: #82822f; text-decoration: underline;margin-top:20px">Вторая линия:</h4>
    </div>
    <div>
        <div style="display: inline-block;width:50px">
            <img src="~/Images/Logo/ulli.svg" />
        </div>
        <div style="display:inline-block"><h4>за продажи своих нижестоящих субагентов первой линии, Агенту начисляется 10% от стоимости Продукта;</h4></div>
        <br />
    </div>

    <br />
    <div style="padding:12px">
        <h4 style="color: #82822f; text-decoration: underline;margin-top:20px">Третья линия:</h4>
    </div>
    <div>
        <div style="display: inline-block;width:50px">
            <img src="~/Images/Logo/ulli.svg" />
        </div>
        <div style="display:inline-block;">
            <h4>
                за продажи субагентов второй линии и формирование третьей линии, Агенту начисляется 4% от
                стоимости Продукта.
            </h4>
        </div>
        <br />
    </div>

    <br />
    <div style="padding:12px">
        <h4 style="color: #82822f; text-decoration: underline;margin-top:20px">Четвертая линия:</h4>
    </div>
    <div>
        <div style="display: inline-block;width:50px">
            <img src="~/Images/Logo/ulli.svg" />
        </div>
        <div style="display:inline-block;">
            <h4>
                за продажи субагентов третьей линии, Агенту начисляется 3% от стоимости Продукта.
            </h4>
        </div>
        <br />
    </div>

    <br />
    <div style="padding:12px">
        <h4 style="color: #82822f; text-decoration: underline;margin-top:20px">Пятая линия:</h4>
    </div>
    <div>
        <div style="display: inline-block;width:50px">
            <img src="~/Images/Logo/ulli.svg" />
        </div>
        <div style="display:inline-block;">
            <h4>
                за продажи субагентов четвёртой линии, Агенту начисляется 2% от стоимости Продукта.
            </h4>
        </div>
        <br />
    </div>
</div>

<div class="row container" id="cnr" style="width:80%;margin:auto">
    <h4 style="font-weight:bold">
        <strong>Важно! Агенту не начисляется вознаграждение за продажи субагентов пятой линии - начисления прекращаются.</strong>   
    </h4>

    <h4 style="margin-top:20px">
        Агент, может продолжить сотрудничество с Компанией в продажах следующего Продукта и получать новое вознаграждения согласного этого плана мотивации. 
        Для этого Агенту, в своём личном кабинете необходимо совершить покупку нового продукта компании.
    </h4>

    <h4 style="margin-top: 20px;font-style:italic">
        Рассмотрим пример начисления вознаграждения Агенту, при условии, что каждый в структуре сделал по шесть продаж.
    </h4>

    <h4 style="margin-top: 20px;font-weight:bold">
        Важно! Вознаграждение за каждую первую продажу в размере 100% начисляется Агенту, сделавшему такую продажу.
        Вознаграждение вышестоящему Агенту от этой продажи - не начисляется. Ещё раз детальнее, из шести продаж своих нижестоящих агентов,
        Агент получит вознаграждение только за пять продаж, вознаграждение от шестой продажи в размере 100% уйдёт каждому агенту, сделавшему свою первую продажу.
    </h4>
</div>

<div class="row" id="cnr" style="width: 70%; margin: auto;padding:12px">
    <div class="col-md">
        <img src="@Url.Content("~/Images/Fonts/Таблица.png")" width="100%" height="100% alt="No" />
    </div>
   
</div>



    <style>
        h4{
            font-family:Arial;
        }
        #cnr {
            font-family: Arial;
            width: 55%;
            color: #82822f;
            font-size: 24pt;
        }

        #img {
            margin-top: -10px;
            height: 400px;
            min-height: 100%;
            width: 100%;
            background-image: url('../../Images/Мотивация.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    </style>
