@{ 
    ViewBag.Title = "Продукт";
}
<div style=" background-color: #faf5d3">
    <div class="row">
        <div class="col" id="img">
        </div>
    </div>
    <div style="padding:22px" class="row">
        <br /><br /><br />
        <div class="container" id="cnr">
            <p>
                <h4 style="margin-top:50px">
                    Денег, сколько бы их ни было, никогда не бывает много. Если денег не хватает, значит пора обзавестись покровительством свыше.
                </h4>

                <h4 style="margin-top:20px">
                    Мы предлагаем Вашему вниманию – Талисман для привлечения денег в Вашу жизнь, для обогащения.
                </h4>
                <h4 style="margin-top:20px;font-weight:bold">
                    Важно! Воспринимайте наш Талисман не как товар, а как необходимое действие, как Символ, ведущий Вас к счастливой жизни, полной финансового благополучия.
                </h4>

                <h4 style="margin-top:20px">
                    Талисманы притягивают деньги и удачу вне зависимости от сословий, вероисповеданий, рас, гендерной и иной принадлежности, но
                    они работают гораздо эффективнее в том случае, если их владелец искренне верит в чудодейственные свойства этих символов.
                </h4>

                <h4 style="margin-top:20px">
                    Наш эффективный Талисман для привлечения денег представляет собой цифровое изображение – символ к Вашему будущему финансовому благополучию.
                    Его нужно самостоятельно активировать, чтобы он обрел Вашу энергетику, наполнился Вашими ожиданиям и верой (описание доступно при оплате).
                </h4>

                <h4 style="margin-top:20px">
                    Символ – это не просто изображение, это образ, несущий в себе определенное мистическое, философское и смысловое значение.
                    Символ может воздействовать на человека и окружающую его среду как призыв к действию, благословение на что-то полезное, а нужный настрой,
                    концентрация и вера в исполнение желаемого, помогут достичь цели.
                </h4>

                <h4 style="margin-top:20px">
                    После оплаты, скачайте Талисман себе на компьютер, активируйте его и займитесь его распространением.
                    Вы сами себе удивитесь насколько легко и быстро его покупают и на счету в Вашем личном кабинете пополняется баланс.
                </h4>

                <h4 style="margin-top:20px">
                    Мы живем в информационном мире, где каждый второй обладает социальными связями в сотни, а то и тысячи человек,
                    поэтому информирование и распространение Талисмана не составит большого труда.
                </h4>

                <h4 style="margin-top:20px">
                    Ваша активность и коммуникабельность, станут залогом успеха в Вашем начинании.
                </h4>
            </p>
        </div>
    </div>
</div>


<style>
    h4 {
        font-family: Arial;
    }
    #cnr {
        font-family:Arial;
        width: 55%;
        color: #82822f;
        font-size: 24pt;
    }
    #img {
        margin-top: -10px;
        height: 400px;
        min-height: 100%;
        background-image: url('../../Images/ПРОДУКТ.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
</style>