@{
    ViewBag.Title = "Главная";
}

<!-- Place for image... -->

<div class="row">
    <div class="col" id="img">
        @*<div>*@
        <img src="~/Images/mainPic.png" style="background-size: cover; background-position: center center; min-width: 100%"
             width="100%" height="100%" />
        @*<h1>Работа для тебя</h1>
            <h3>Как зарабатывать от 20 000 грн<br /> каждый месяц</h3>
        </div>*@
    </div>
</div>

<div class="container body-content">



</div>



<style>
    #img {
        height: 1050px;
        border:3px solid;
        margin-top: -140px;
   /*     height: 400px;
        min-height: 100%;
        min-width:100%;*/
        background-image: url(../../Images/Фон.jpg);
        /*        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;*/
    }
</style>